brew "mas"

cask_args appdir: "/Applications"

cask "amazon-chime"
cask "iterm2"
cask "skitch"
cask "slack"
cask "visual-studio-code"
cask "keepassxc"
cask "zoom"

mas "446243721" # Disk Space Analyzer: Inspector
